.main-page {
  color: white;
  padding: 6px;
  background: transparent;
  font-family: sans-serif;
}

.app-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: -0.2em;
}

.course-section {
  margin-left: -1em;
  background: transparent;
  border-radius: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.course-label {
  margin-left: 0.5em;
  color: black;
  font-weight: bold;
  font-size: 27px;
}

.course-link {
  margin-left: 0.5em;
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-top: 22px;
}



.course-button {
  margin: 16px auto 4px;
  margin-top: 1.6em;
  margin-left: 0.65em;
  display: block;
  background: linear-gradient(145deg, #ffffff, #f0f8ff);
  color: black;
  font-weight: bold;
  border: none;
  padding: 12px 50px;
  width: 350px;
  border-radius: 15px;
  font-size: 22px;
}
.course-card {
  position: relative;
  height: 180px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 15px;
  z-index: 0;
  background: black;
}

.course-card::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 5px; /* thickness of the border */
  border-radius: 15px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b, #ff9100, #ffdd00, #2de2e6, #00b1d2);
  background-size: 300% 300%;
  animation: gradient-shift 6s ease infinite;
  z-index: -1;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude; /* For Firefox */
  -webkit-mask-composite: destination-out; /* For Chrome/Safari */
  box-sizing: border-box;
}

.course-card span {
  color: #fff;
  position: relative;
  z-index: 1;
}

/* Keyframes */
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .course-card::before {
    background: linear-gradient(45deg, #ff416c, #ff4b2b, #ff9100, #ffdd00, #2de2e6, #00b1d2);
  }

  .course-card span {
    color: #fff;
  }
}



.course-title {
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  margin-left: -9em;
  margin-top: -3.5em;
}

.course-subtitle {
  width: 41em;
  margin-left: -6.5em;
  margin-top: 7em;
  font-size: 14px;
  color: white;
}


.logo-image-course {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.get-img {
  width: 25px;
  height: 25px;
  position: relative;
  margin-left: -10px;
  top: 3.5px; /* move it down */
}


.course-img {
  width: 95px;
  height: 95px;
  margin-bottom: -2em;
  margin-top: -7.5em;
}

