/* Общий контейнер */
.getflyp-container {
  background: transparent;
  color: #fff;
  min-height: 100vh;
  padding-bottom: 2rem;
  font-family: Arial, sans-serif;
  margin-top: 0.5em;
}

.app-title {
  font-weight: bold;
  font-size: 18px;
}

/* Логотип и заголовок */
.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wings-img {
  height: 180px;
  margin-bottom: 0.5rem;
}


/* Баланс */
.balance-section-getflyp {
  margin-top: -1em;
  padding: 1.5rem 1rem 0;
  margin-left: 0.2em;
}

.label {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -20px;
}

.balance {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.wallet-link-getflyp {
  font-size: 13px;
  color: black;
  margin-top: -1.5em;
  margin-bottom: 10px;
}

.flyp {
  font-style: italic;
}

/* Кнопки действий */
.button-row {
  margin-top: -3.5em;
  margin-left: 13em;
}

.deposit-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0.65rem 1.65rem;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.deposit-btn:hover {
  background-color: #ddd;
}



.my-products-section {
  margin-top: 40px;
}

.section-title {
  margin-bottom: 20px;
}

.my-products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.my-product-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}


.my-product-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.my-product-title {
  margin: 10px 0;
}

.my-product-description {
  font-size: 14px;
  color: #555;
}

.my-product-price,
.my-product-quantity {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.sell-button {
  background-color: #c62828;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.sell-button:hover {
  background-color: #b71c1c;
}
