.read-card {
  height: 40em;
  background: black;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-bottom: 50px;
}



.read-title {
  color: black;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

.read-text {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.read-image {
  width: 100px;
  height: 100px;
  margin-left: 7.8em;
}