.read-card {
  height: 40em;
  background: rgba(17, 17, 17, 0.2);
  border: 2px solid #333;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-bottom: 50px;
}



.read-title {
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

.read-text {
  font-size: 18px;
  text-align: center;
}

.read-image {
  width: 100px;
  height: 100px;
  margin-left: 6.5em;
}